<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Open+Sans&display=swap" rel="stylesheet">  
    </head>
    <body>
        <div class="main-content">
            {{>nav}}
            {{>header}}
            <main>
                
                <img src="/images/myAvatar-400x400.png" class="portrait"/>
            </main>
        </div>
        {{>footer}}
        <script src="./js/app.js" type="text/javascript"></script>
    </body>
</html>