<div class="form-holder">
    <form>
        <div class="mb-3">
            <label for="address-input">Location / Address</label>
            <input type="text" placeholder="Please type in a location/address" class="input form-control" id="address-input"/>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary"><span>Search</span></button>
        </div>
    </form>
</div>
<table class="table">
    <tbody>
        <tr>
            <td class="table-icon">
                <img id="weather-icon"/>
            </td>
            <td>
                <p id="location"></p>
                <p id="description"></p>
            </td>
        </tr>
    </tbody>
</table>
